<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include src="'template/header-textual-menu.html'" data-ng-controller="headerCtrl as hctrl">
</header>
<section id="main">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
    <aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>
    <section id="content">
        <div class="container">
            <div class="block-header">
                <h2>Dashboard</h2>
            </div>
            <div class="dash-widgets">
                <div class="row">
                    <div class="col-sm-7">
                        <!-- ***Begin Net Operating Income -->
                        <div ng-include="'views/noi-widget.html'"></div>
                        <!-- ***End Net Operating Income -->
                        <!--***Begin capitlization rate calc  -->
                        <div ng-include="'views/cap-rate-widget.html'"></div>
                        <!--***End capitlization rate calc  -->
                    </div>
                    <!-- end column -->
                    <div class="col-sm-5">
                        <!-- right column -->
                        <!-- TEST CARD -->
                        <!-- <div class="card">
                            <hr>
                            <div class="row">
                                <div ng-controller="shoppingCtrl" class="col-sm-6 m-b-20">
                                    <ul>
                                        <li ng-repeat="x in products">
                                            {{x}}
                                            <span ng-click="removeItem($index)">&times;</span>
                                        </li>
                                    </ul>
                                    <input ng-model="addMe">
                                    <button ng-click="addItem()">Add</button>
                                    <p>{{errortext}}</p>
                                </div>
                            </div>
                        </div> -->
                        <!-- </row> -->
                        <!-- <div class="card">
                            <div class="col-md-6 col-sm-6">
                                <div id="pie-charts" class="dash-widget-item">
                                    <div class="bgm-pink">
                                        <div class="dash-widget-header">
                                            <div class="dash-widget-title">capitalization rate</div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="text-center p-20 m-t-25">
                                            <div class="easy-pie main-pie" data-percent="75" data-easypie-chart>
                                                <div class="percent">45</div>
                                                <div class="pie-title">Total Emails Sent</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="p-t-20 p-b-20 text-center">
                                        <div class="easy-pie sub-pie-1" data-percent="56" data-easypie-chart>
                                            <div class="percent">56</div>
                                            <div class="pie-title">Bounce Rate</div>
                                        </div>
                                        <div class="easy-pie sub-pie-2" data-percent="84" data-easypie-chart>
                                            <div class="percent">84</div>
                                            <div class="pie-title">Total Opened</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- pie chart -->
                        <!-- </div> -->
                        <!-- </div>  -->
                    </div>
                    <!-- end row -->
                </div>
                <!-- end dash widgets -->
            </div>
            <!-- end container -->
    </section>
</section>
<footer id="footer" data-ng-include="'template/footer.html'"></footer>
